/* TABLE OF CONTENTS */
/*
    1. GENERAL STYLES
    2. HEADER
    3. NAVIGATION
    4. BANNER
    5. CONTENT
    6. MEDIA QUERIES
    
*/
/* 1. GENERAL STYLES */
h1,
h2,
h3,
h4,
h5,
h5,
p,
li,
a {
  margin: 0; }

body {
  background-color: #90c811;
  overflow-x: hidden; }

::selection {
  background-color: #90c811;
  color: white; }

img {
  -webkit-user-drag: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  user-drag: none; }

.right {
  float: none; }

.top-bar {
  height: 5px;
  background-color: #006633;
  border-bottom: 2px solid white;
  margin-bottom: 20px; }

.container {
  max-width: 931px; }

#footer-bg {
  width: 100%;
  position: relative;
  z-index: 20; }

/* 2. HEADER */
header {
  margin-bottom: -35px;
  position: relative;
  z-index: 10;
  padding: 0 !important; }
  header .logo-wrapper {
    padding: 0 !important; }

/* 3. NAVIGATION */
.navigation {
  position: absolute;
  bottom: -30px;
  top: auto;
  right: -40px;
  left: auto; }
  .navigation nav {
    position: relative; }
  .navigation #menu {
    position: absolute;
    right: 20px;
    left: auto;
    width: 100% !important;
    padding-right: 55px; }
  .navigation ul {
    background-image: url("images/menu-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3), 0 25px 25px -23px rgba(0, 0, 0, 0.5); }
  .navigation li.nav-active {
    background-image: url("images/menu-active.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .navigation li a,
  .navigation li a:link,
  .navigation li a:visited,
  .navigation li a:hover,
  .navigation li a:active {
    padding: 15px;
    color: #ffffff;
    font: 400 18px Arial;
    text-decoration: none;
    background-color: transparent; }
  .navigation button {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-right: 50px; }
    .navigation button span {
      background-color: #90c811; }

/* 4. BANNER */
.banner {
  background-color: #e9f4cf;
  border-top: 1px solid #d0d6bd;
  border-bottom: 1px solid #d0d6bd;
  width: 100%;
  padding: 25px;
  position: relative;
  margin-bottom: 17px;
  z-index: 4; }
  .banner img {
    padding: 0 !important;
    position: absolute;
    left: -65px;
    right: auto;
    top: -20px;
    bottom: auto;
    width: 316px;
    height: 240px; }
  .banner h1 {
    color: #a9691a;
    font: 700 28px Arial;
    margin-bottom: 15px; }
  .banner span.blue {
    color: #0c85ad; }
    .banner span.blue a:link,
    .banner span.blue a:visited,
    .banner span.blue a:hover,
    .banner span.blue a:active {
      color: #0c85ad;
      text-decoration: none; }
  .banner p {
    color: #666666;
    font: 400 16px / 24px Arial; }

/* 5. CONTENT */
.content-wrapper {
  background-color: #90c811;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: -244px;
  position: relative; }
  .content-wrapper:before {
    content: "";
    position: absolute;
    top: -76px;
    bottom: auto;
    background-image: url("images/header-highlights.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 76px; }
  .content-wrapper .georgie-wrapper {
    position: absolute;
    z-index: 5;
    width: 316px;
    height: 191px;
    background-image: url("images/banner-img.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 99px;
    bottom: auto;
    left: -40px;
    right: auto; }
    .content-wrapper .georgie-wrapper img {
      width: 161px;
      height: 224px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 14px;
      top: auto; }

.content {
  background-color: white;
  box-sizing: content-box !important;
  padding: 25px 25px 10vw 25px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5); }
  .content article:not(:last-child) {
    margin-bottom: 25px; }
  .content article:nth-child(2) {
    border: none; }
  .content article img {
    display: inline !important; }
  .content article .title {
    position: relative;
    margin-bottom: 15px; }
  .content article h3 {
    color: #a76618;
    font: 700 16px Arial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    left: 60px;
    max-width: 185px; }
  .content article p {
    color: #4f514c;
    font: 400 13px Arial;
    margin-bottom: 20px; }
  .content article .btn-readmore {
    color: #ffffff;
    font: 400 12px / 16px Arial;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
    background-image: url("images/btn-readmore.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 83px;
    padding: 8px 10px;
    margin: 0;
    display: inline-block; }
  .content article a,
  .content article a:link,
  .content article a:visited,
  .content article a:hover,
  .content article a:active {
    max-width: 83px;
    text-decoration: none; }

/* 6. MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .right {
    float: right; }

  .navigation #menu {
    padding-right: 20px !important; }

  .content {
    padding: 65px 25px 10vw 25px; }

  .banner .banner-copy {
    padding-left: 45px; } }
@media screen and (min-width: 992px) {
  .content article:nth-child(2) {
    border-left: 1px solid #c7e388;
    border-right: 1px solid #c7e388; } }

/*# sourceMappingURL=main.css.map */
